html
{
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

video 
{
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

body
{
   position: relative;
}

h1
{
    font-size: 50pt;
    text-shadow: 2px 1px #FFF;
    color:#000;
    padding-top: 0;
    text-align: center;
    margin-bottom: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2
{
    font-size: 30pt;
    text-shadow: 2px 1px #FFF;
    color:#000;
    padding-top: 0;
    text-align: center;
    margin-bottom: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h4
{
    font-size: 15pt; 
}

.content img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.content
{
    background-color: #453d41;
}

.content p
{
    margin: 10px 20px 0px 20px;
}

.contentsport
{
    background-color: #453d41;
}
.contentsport img
{
    display: block;
    margin-left: 50px;
    margin-right: auto;
    width: 20%;
}

form
{
    padding: 0 50px 0 50px;  
}

fieldset
{
    padding: 50px 50px 50px 50px; 
    background-color: #575454;
    border-radius: 6px;
}

input
{
      opacity: 1;
}

input[type=text]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc ;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    z-index: 2;
}

#message{
    padding-bottom: 60px;
}

button[type=submit] {
    width: 100%;
    background-color: #444444;
    margin: 15px 0;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    color: #7a7878;
    cursor: pointer;
    font-size: 20px;
}

button[type=submit]:hover {
    background-color: #707070;
}

.container
{
    background-color: rgba(255, 255, 255, 0.1);
}

#cookies
{
    background-color: #444443;
}

footer
{
    padding: 0 50px 0 50px;  
}

.contactfooter
{
    background-color: #444444;
}